<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a (click)="onHomeClick()" class="navbar-brand" style="cursor: pointer;">Home</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/main/products">Products</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/main/brands">Brands</a></li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a>
      </ul>
    </div>
    </div>
</nav>
