<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a (click)="onHomeClick()" class="navbar-brand" style="cursor: pointer; color: white;">Home</a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle pointer" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item pointer" routerLink="/main/products">View</a>
            <a class="dropdown-item pointer" routerLink="/main/products/create">Create</a>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle pointer" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Brands
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item pointer" routerLink="/main/brands">View</a>
            <a class="dropdown-item pointer" routerLink="/main/brands/create">Create</a>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle pointer" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Materials
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item pointer" routerLink="/main/materials">View</a>
            <a class="dropdown-item pointer" routerLink="/main/materials/create">Create</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <a class="nav-link pointer" (click)="onLogout()">Logout</a>
      </ul>
    </div>
  </div>
</nav>
