<div class="d-flex justify-content-center">

  <form [formGroup]="materialSearch" (ngSubmit)="onSubmit()">
    <label for="search">Search for materials</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Material</span>
      </div>
      <input type="text"
             id="search"
             class="form-control"
             formControlName="search"
             placeholder="ferrari">
      <div class="input-group-append">
        <button class="input-group-append btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<div class="d-flex justify-content-center">
  <div class="row col-md-4">
    <label class="d-inline-flex">
      Show
      <select [(ngModel)]="pageService.toShow" class="custom-select custom-select-sm w-50" (change)="pageService.setToShow()">
        <option *ngFor="let option of pageService.optionsToShow">
          {{ option.name }}
        </option>
      </select>
      entries
    </label>
  </div>

  <nav aria-label="Paginator">
    <ul class="pagination">
      <li class="page-item" *ngIf="pageService.previousButton; else previousButtonDisabled" style="cursor: pointer"><a class="page-link" (click)="updatePages(pageService.currentPage - 1)">Previous</a></li>

      <li class="page-item" style="cursor: pointer"
          *ngFor="let page of pageService.pageList; let i = index">
        <a class="page-link" *ngIf="(page) !== pageService.currentPage; else SelectedPageItem" (click)="updatePages(page)">
          {{ page + 1}}
        </a>
      </li>
      <li class="page-item" *ngIf="pageService.nextButton; else nextButtonDisabled" style="cursor: pointer"><a class="page-link" (click)="updatePages(pageService.currentPage + 1)">Next</a></li>
    </ul>
  </nav>
</div>
<ng-template #previousButtonDisabled>
  <li class="page-item disabled"><a class="page-link">Previous</a></li>
</ng-template>


<div class="d-flex justify-content-center">
  <div class="row col-md-4">
    <table id="dtBasicExample" class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">ID </th>
      </tr>
      </thead>
      <tbody *ngIf="searchComplete">
      <tr *ngFor="let material of materialList | slice:pageService.showPagesFrom():pageService.showPagesTo(); let i=index">
        <td>{{ material.materialName || null}}</td>
        <td>{{ material.materialID || null}}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="onCreate()">Create</button>
  </div>
</div>
<ng-template #nextButtonDisabled>
  <li class="page-item disabled"><a class="page-link">Next</a></li>
</ng-template>

<ng-template #SelectedPageItem>
  <li class="page-item active">
    <a class="page-link">
      {{ pageService.currentPage + 1 }}
    </a>
  </li>
</ng-template>
