<!--<div class="card" style="width: 18rem;">-->
<!--    <div class="card-body">-->
<!--      <h2 class="card-title">Login</h2>-->
<!--      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--        <label for="username">Username</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          id="username"-->
<!--          formControlName="username"-->
<!--          class="form-control">-->
<!--        <span class="help-block" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">-->
<!--          <span *ngIf="loginForm.get('username').errors['required']">-->
<!--            This field is required-->
<!--          </span>-->
<!--        </span>-->

<!--        <br>-->

<!--        <label for="password">Password</label>-->
<!--        <input-->
<!--          autocomplete="true"-->
<!--          type="password"-->
<!--          id="password"-->
<!--          formControlName="password"-->
<!--          class="form-control">-->
<!--        <span class="help-block" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">-->
<!--          <span *ngIf="loginForm.get('password').errors['required']">-->
<!--            This field is required-->
<!--          </span>-->
<!--        </span>-->

<!--        <br>-->
<!--        <hr>-->
<!--        <button type="submit" class="btn btn-primary">Login</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto">
              <h1 class="login-heading mb-4">Welcome!</h1>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-label-group">
                  <input
                    type="text"
                    id="username"
                    formControlName="username"
                    class="form-control"
                    style="padding-left: 10px">
                </div>

                <div class="form-label-group">
                  <input
                    autocomplete="true"
                    type="password"
                    id="password"
                    formControlName="password"
                    class="form-control"
                  style="padding-left: 10px">
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                        type="submit">Sign in
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
