<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="d-flex justify-content-center">
  <form [formGroup]="productForm"
        (ngSubmit)="onSubmit()">
    <h4>Specifications</h4>
    <br>
    <div class="form-row">
      <div class="col">
        <label for="name">Name</label>
        <input formControlName="productName"
               type="text"
               id="name"
               class="form-control">
      </div>
      <div class="col">
        <label for="brand">Brand</label>
        <select class="form-control"
                id="brand"
                formControlName="productBrand">
          <option *ngFor="let brand of brandList; let i = index">{{ brand.brandName }}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="SKU">SKU</label>
        <input formControlName="productSKU"
               type="number"
               id="SKU"
               class="form-control">
      </div>
      <div class="col">
        <label for="quantity">Quantity</label>
        <input formControlName="productQuantity"
               type="number"
               id="quantity"
               placeholder="0"
               class="form-control">
        <span class="help-block"
              *ngIf="!productForm.get('productQuantity').valid && productForm.get('productQuantity').touched">
          <span *ngIf="productForm.get('productQuantity').errors['minimumZeroValue']" style="color: red;">
            Quantity must be a positive integer.
          </span>
        </span>
      </div>
      <br>
    </div>
    <div class="form-group">
      <label for="matID">Materials</label>
      <div formArrayName="productsInsertMaterials">
        <div class="input-group mb-3" *ngFor="let material of materialForms.controls; let i = index"
             [formGroupName]="i">
          <select class="form-control"
                  id="matID"
                  formControlName="MaterialName">
            <option *ngFor="let material of materialList"
                    [ngValue]="material.materialName"> {{ material.materialName }}</option>
          </select>
          <div class="input-group-append">
            <button type="button" class="btn btn-danger" (click)="removeMaterial(i)">X</button>
          </div>
        </div>
      </div>
      <br>
        <button type="button" class="btn btn-success" id="add" [disabled]="materialForms.length > 4" (click)="addMaterial()">+</button>
        <p *ngIf="materialForms.length > 4">You can add at most 5 materials</p>
    </div>
    <hr>
    <h4>Costs</h4>
    <div class="form-group">
      <label for="price">Price</label>
      <input formControlName="productPrice"
             type="number"
             id="price"
             class="form-control">
    </div>
    <div class="form-row">
      <div class="col">
        <label for="startFactor">Start Factor</label>
        <input formControlName="productStartFactor"
               type="number"
               id="startFactor"
               class="form-control">
        <span class="help-block"
        *ngIf="!productForm.get('productStartFactor').valid && productForm.get('productStartFactor').touched">
          <span *ngIf="productForm.get('productStartFactor').errors['aboveZero']" style="color: red">
            Must be more than 0.
          </span>
        </span>
      </div>
      <div class="col">
        <label for="growthFactor">Growth Factor</label>
        <input formControlName="productGrowthFactor"
               type="number"
               id="growthFactor"
               class="form-control">
        <span class="help-block"
              *ngIf="!productForm.get('productGrowthFactor').valid && productForm.get('productGrowthFactor').touched">
          <span *ngIf="productForm.get('productGrowthFactor').errors['aboveZero']" style="color: red">
            Must be more than 0.
          </span>
        </span>
      </div>

    </div>
    <div class="form-group">
      <label for="variableCost">Variable Costs</label>
      <input formControlName="productVariableCost"
             type="number"
             id="variableCost"
             class="form-control">
    </div>
    <button class="btn btn-success" [disabled]="!productForm.valid" type="submit">Create</button>
  </form>
</div>
