<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <div class="col-lg-12 d-flex justify-content-center">

    <h2 class="display-3">Inventory System</h2>
  </div>
  <div class="col-lg-12 d-flex justify-content-center">

    <p class="lead">Inventory System provides following functions</p>
  </div>

  <div class="container main-row">
    <div class="row">
      <div class="col-md-4">
        <i class="material-icons main-icon" (click)="onProductsClick()" style="cursor: pointer">search</i>
        <p class="lead">Search and update your catalogue in your favourite browser</p>
      </div>
      <div class="col-md-4">
        <i class="material-icons main-icon">cloud</i>
        <p class="lead">No need to local backup - everything is saved in the cloud</p>
      </div>
      <div class="col-md-4">
        <i class="material-icons main-icon">attach_money</i>
        <p class="lead">Let Inventory System manage prices with its unique SmartPricing&trade;</p>
      </div>
    </div>
  </div>


<!--<ul>-->
<!--  <li class="list-group-item" routerLink="active" (click)="onProductsClick()">Products</li>-->
<!--  <li class="list-group-item" routerLink="active" (click)="onBrandsClick()">Brands</li>-->
<!--</ul>-->
