body {
  background: url('https://pixnio.com/free-images/2017/03/31/2017-03-31-08-40-28-725x482.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
