<div class="d-flex justify-content-center">
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <h2 class="card-title">Product information</h2>
      <div>
        <p><b>Name:</b> {{product.productName}}</p>
        <p><b>ID:</b> {{product.productID}}</p>
        <p><b>SKU:</b> {{product.productSKU}}</p>
        <p><b>Price:</b> {{product.productPrice}}</p>
        <p><b>Variable Costs:</b> {{product.productVariableCost}}</p>
        <hr>
        <h4>Materials</h4>
        <p *ngFor="let material of materials; let i = index">
          <b>{{ i }}:</b> {{ material.materialName }}
        </p>
      </div>
      <div *ngIf="isDeleted">
        <br>
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">
            Success!
          </h4>
          Product was succesfully deleted. <a class="close" (click)="onClose()">x</a>
        </div>
      </div>
      <br>

      <div class="d-flex justify-content-center">
      <button class="btn btn-danger" [disabled]="isDeleted" style="cursor: pointer;" (click)="deleteProduct()">Delete</button>
      <button class="btn btn-primary" (click)="onBack()">Back</button>
      </div>
    </div>
  </div>
</div>
