<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="d-flex justify-content-center">
  <div class="card" style="width: 25rem;">
    <h5 class="card-header">Product information</h5>
    <div class="card-body">
      <div *ngIf="loaded; else notLoaded"><h3 class="card-title">{{product.productName}}</h3>
        <div *ngIf="editMode === false; else editProduct">
          <p><b>Brand:</b> {{ product.productBrand}}</p>
          <p><b>ID:</b> {{product.productID}}</p>
          <p><b>SKU:</b> {{product.productSKU}}</p>
          <p><b>Price:</b> {{product.productPrice}}</p>
          <p><b>Variable Costs:</b> {{product.productVariableCost}}</p>
          <p><b>Quantity:</b> {{ product.productQuantity }}</p>
        </div>
        <hr>
        <h4>Materials</h4>
        <p *ngFor="let material of materials; let i = index">
          <b>{{ i }}:</b> {{ material.materialName }}
        </p>
      </div>
      <div *ngIf="isDeleted">
        <br>
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">
            Success!
          </h4>
          Product was succesfully deleted. <a class="close" (click)="onClose()">x</a>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-center" *ngIf="editMode === false; else saveBlock">
        <button class="btn btn-primary" style="margin: 10px" (click)="onBack()">Back</button>
        <div *ngIf="loaded">
          <button class="btn btn-success" style="margin: 10px" [disabled]="isDeleted" (click)="onEdit()"><i
            class="material-icons">border_color</i></button>
          <button class="btn btn-danger" style="margin: 10px;" [disabled]="isDeleted" (click)="deleteProduct()">Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #saveBlock>
  <div class="d-flex justify-content-center">
    <button class="btn btn-danger" style="margin: 10px" (click)="onCancel()"><i class="material-icons">cancel</i> Cancel
    </button>
    <button class="btn btn-success" style="margin: 10px" [disabled]="!editForm.valid" (click)="onSave()"><i class="material-icons">save</i> Save
    </button>
  </div>
</ng-template>
<ng-template #notLoaded>
  <h3 class="card-title">
    Awkward.
  </h3>
  <p>The item doesn't seem to exist.</p>
  <div class="d-flex justify-content-center">

    <i class="material-icons" style="font-size: 100px">sentiment_very_dissatisfied</i>
  </div>
</ng-template>
<ng-template #editProduct>
  <form [formGroup]="editForm" (ngSubmit)="onSave()">
    <p><b>Brand:</b> {{ product.productBrand }}</p>
    <p><b>ID:</b> {{ product.productID }}</p>
    <p><b>SKU:</b></p>
    <input
      type="number"
      class="form-control"
      formControlName="productSKU">
    <span class="help-block" *ngIf="!editForm.get('productSKU').valid && editForm.get('productSKU').touched">
      <span *ngIf="editForm.get('productSKU').errors['notEight']" style="color: red;">
            SKU must be an 8-digit integer.
      </span>
    </span>
    <p><b>Price:</b></p>
    <input
      type="number"
      class="form-control"
      formControlName="productPrice">
    <span class="help-block" *ngIf="!editForm.get('productPrice').valid && editForm.get('productPrice').touched">
      <span *ngIf="editForm.get('productPrice').errors['minimumQuantity']" style="color: red;">
            Price must be a natural integer.
      </span>
    </span>
    <p><b>Variable Costs:</b></p>
    <input
      type="number"
      class="form-control"
      formControlName="productVariableCost">
    <span class="help-block" *ngIf="!editForm.get('productVariableCost').valid && editForm.get('productVariableCost').touched">
      <span *ngIf="editForm.get('productVariableCost').errors['aboveZero']" style="color: red;">
            Must be more than 0.
      </span>
    </span>
    <p><b>Quantity:</b></p>
    <input
      type="number"
      class="form-control"
      formControlName="productQuantity">
    <span class="help-block" *ngIf="!editForm.get('productQuantity').valid && editForm.get('productQuantity').touched">
      <span *ngIf="editForm.get('productQuantity').errors['minimumQuantity']" style="color: red;">
            Quantity must be a natural integer.
      </span>
    </span>
  </form>
</ng-template>
